h1{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 2px 2px orange;
}
.css-style h2{
    color:green;
    background-color: rgb(211, 158, 158);
    padding:5px;
    text-transform: uppercase;
    box-shadow: 2px 3px black;
    
}
.css-style h2:hover{
    color:red;
    cursor: pointer;
    text-shadow: 3px 3px black;
}

.selector > p{
    color: gold;
    background-color: black;
    padding:10px;
    border-radius: 10px;
    font-size:40px;
}
.selector ~ h4 {
    color:blue;

}
.selector + h4{
    color:red;
    
}
.align{
    border:2px solid black;
    padding:5px;

}
.align p{
    border:1px dashed red;
    padding:10px;
    text-align: center;
}
.box{
    width:400px;
    height:400px;
    background:blue;
    border-radius: 200px;
    padding:10px;
    margin-top: 300px;
    border:2px solid red;

    
}
.box h1{
    color:black
}
.box:hover{
    background-color:red;
}
.box h1::selection{
    background-color: gray;
}

/* background img */
.background-img{
    width: 100%;
    height:500px;
    background-image: url('img/beautiful-strawberry-garden-sunrise-doi-ang-khang-chiang-mai-thailand.jpg');
    background-position: center;
    background-size: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.liniar-gradient{
    width: 500px;
    height: 500px;
    background-image:linear-gradient(to right,brown,red,green,blue);
    

}